{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Register page
{% endblock title %}

{% block content %}
        <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <h1 class="card-title text-center">Login</h1>
                        <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-outline-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}