{% extends 'users/base.html' %}

{% block title %}
    my posts
{% endblock title %}

{% block content %}

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

.snippet-card {
    padding:20px;
  font-family: 'Roboto', Arial, sans-serif;
  display: inline-block;
  margin: 10px;

  height: 570px;
 
  width: 280px;
  color: #000000;
  text-align: left;
  line-height: 1.4em;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.snippet-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snippet-card img {
    height: 50%;
    width: 100%;
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
  border-radius: 8px 8px 0 0;
}


.snippet-card figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #ffffff;
}

.snippet-card figcaption a {
  padding: 5px;
  border: 1px solid #0c0c0c;
  color: #030303;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.snippet-card figcaption a:hover {
  opacity: 1;
}

.snippet-card .profile-img {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  max-height: 90px; /* Добавлено свойство max-height */
  opacity: 1;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.snippet-card .follow-link {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}

.snippet-card h2 {
  margin: 0 0 5px;
  font-weight: 300;
}

.snippet-card h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}

.snippet-card p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container .snippet-card {
  box-shadow: 0 2px 6px rgba(241, 241, 241, 0.1);
}

.snippet-card {
  /* ... */
  overflow: hidden;

}
.snippet-card somsa{
    margin: 20px;
}
.text-content{
    height: 40%;
}
.post-info{
    height: 10%;
}
</style>
    <div class="container mt-5 p-5 pt-5">
<div class="card-container mt-5 shadow" >
  {% for i in postlar %}
  <figure class="snippet-card somsa">
    <img src="{{ i.image.url }}" alt="sample87" />
    <figcaption>
      <img src="{{ i.author.profile.avatar.url }}" alt="profile-sample4" class="profile-img" />
      <h2 class="text-center">{{ i.title }}<span>Engineer</span></h2>
        <p class="overflow-hidden text-break">{{ i.content }}</p>
      <a href="{% url 'detail' i.id %}" class="follow-link">Moree</a>
      <div class="post-info">
        <p class="post-card-info">
          <span class="post-card-author">@{{ i.author }} |</span>
          <span class="post-card-date">{{ i.data|date:"l G:i" }}</span>
        </p>
      </div>
    </figcaption>
  </figure> 
  {% endfor %}
</div>
</div>
<script>
/* Demo purposes only */
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);
</script>

{% endblock content %}
